// Navigation code here
.topper {display: flex;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    margin: 0 auto; 
    .nav-theme;
    margin-bottom: 10px;
}

nav {display: flex;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    margin: 0 auto; 
    .nav-theme;}